@model IEnumerable<InternetClothesStore.Models.Category>
<div class="row">
    <div class="col-1 col-sm-1">
        <ul class="nav flex-column  bg-light " style="position: fixed" id="catalog_list">
            @{int counter = 0; }
            @foreach (var category in Model)
            {
                <li><a href="#" class="nav-link" onclick="clicked(this)">@category.Name</a></li>
                counter++;
            }
        </ul>
    </div>
    <div class="col">
        <div id="selectedCategory">

        </div>
    </div>
</div>

<script>
    async function clicked(id) {
        $.ajax({
            url: "/Home/SelectCategory?category="+id.innerText,
            type: "Get",
            success: function (response) {
                $('#selectedCategory').html(response);
            }
        });
    }
</script>

