@model List<InternetClothesStore.Models.Item>

<html>
<body>
    <link href="~/Content/MyStyles.css" rel="stylesheet" />

    <div class="catalog-container-flex" id="flexbox">
        @foreach (var item in Model)
        {
            <div class="card card-hover" style="margin:25px; height:auto; width: auto; padding:5px; min-width:250px">
                <img src="@item.Images.First().Path" height="250" />
                <p><h3 class="lead text-center">@item.Title</h3></p>
                <p class="text-center">Цена: @item.Price BYN</p>
                @Html.ActionLink("Подробнее", "ItemDescription", "Home",htmlAttributes: new { @class = "text overlay" }, routeValues: new { id = item.Id})
            </div>
        }
    </div>
</body>
</html>

@section scripts{
    
    <script>
        $(document).ready(function () {
            $('#flexbox').each(function (e) {
                console.log($(this).text());
            });
        });
    </script>

    }