@model InternetClothesStore.Models.Image


<h4>Изображение</h4>
<hr />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(model => model.Path, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Path, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Path, "", new { @class = "text-danger" })
    </div>
</div>
